.pl32{
	padding-left: 32px;
}
.pt32{
	padding-top:32px;
}
.pt37{
	padding-top: 37px;
}
.pb32{
	padding-bottom: 32px;
}
.ml32{
	margin-left: 32px;
}
.mb63{
	margin-bottom: 63px;
}
.lh19{
	line-height: 19px;
}
.lh17{
	line-height: 17px;
}
.fz14{
	font-size: 14px;
}
